<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&family=Roboto:ital,wght@0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Raleway&family=Roboto:ital,wght@0,400;1,100;1,400&display=swap');

</style>

<body
style="background-color: #E4F5FB; 
margin: 0;">
    <header 
    style="background-color: white;
    text-align: center;
    padding: 15px;">
        <img src="<%= base_url + '/logo.png' %>" alt="imagen de logo" class="logo">
    </header>
    <div 
    style="text-align: center;
    font-family: Bebas Neue;
    color: #181E52;">
        <h1>Datos de Contacto</h1>
    </div>
    <main 
    style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;">
        <div>
            <div class="contenedor-datos" style="border-bottom: 1px solid #b0b0b0;">
                <h1 class="titulo-correo" style="font-family: Bebas Neue; font-weight: inherit; color: #181E52; margin: 0; padding-top: 5px;"><img src="<%= base_url + '/usuario.png' %>" alt=""> Nombre</h1>
                <p class="respuesta" style="font-family: roboto;"><%= name %></p>
            </div>
            <div class="contenedor-datos" style="border-bottom: 1px solid #b0b0b0;">
                <h1 class="titulo-correo" style="font-family: Bebas Neue; font-weight: inherit; color: #181E52; margin: 0; padding-top: 5px;"><img src="<%= base_url + '/correo.png' %>" alt=""> Correo</h1>
                <p class="respuesta" style="font-family: roboto;"><%= email %></p>
            </div>
            <div class="contenedor-datos" style="border-bottom: 1px solid #b0b0b0;">
                <h1 class="titulo-correo" style="font-family: Bebas Neue; font-weight: inherit; color: #181E52; margin: 0; padding-top: 5px;"><img src="<%= base_url + '/llamada.png' %>" alt=""> Telefono</h1>
                <p class="respuesta" style="font-family: roboto;"><%= phone %></p>
            </div>
            <div class="contenedor-datos" style="border-bottom: 1px solid #b0b0b0;">
                <h1 class="titulo-correo" style="font-family: Bebas Neue; font-weight: inherit; color: #181E52; margin: 0; padding-top: 5px;"><img src="<%= base_url + '/conversacion.png' %>" alt=""> Mensaje</h1>
                <p class="respuesta" style="font-family: roboto;"><%= message %></p></p>
            </div>
        </div>
    </main>
</body>
</html>